pre {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  margin-top: 1rem;
  margin-bottom: 2.369rem;
  /* padding: 1rem 2rem; */
  font-family: Menlo,'Bitstream Vera Sans Mono','DejaVu Sans Mono',Monaco,Consolas,monospace;
  font-size: 18px;
  white-space: pre-wrap;
  line-height: 1.5;
  border: none;
}

.node--type-wiki pre {
  width: 100%;
  margin-left: initial;
  left: initial;
}
